{% extends "layout.html" %}
{% from "snipple/macro.html" import navigation, pagination_widget with context %}

{% block subtitle %}{{ user.username }}'s Profile{% endblock %}

{% block nav %}
 {{ navigation('other') }}
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="user-info">
          <div class="left-avatar"><img src="{{ user.avatar(60) }}"></div>
          <div class="user-profile">
            <div class="bold">{{ user.username }}</div>
            <div class="">{{ user.created.strftime('%Y-%m-%d %H:%M:%S') }}</div>
            <div class="id">NO.{{ user.id }}</div>
            {% if show_saved_topics_link %}<div><a href="/saved-topics/{{ user.username }}">saved topics</a></div>{% endif %}
          </div>
        </div>
        {% if user.bio != none %}
        <div class="other-info">
          <center>{{ user.bio }}</center>
        </div>
        {% endif %}
      </div>
      </div>
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="sm-panel-heading panel-title item">recent posts</div>
          {% if user_posts %}
            {% for user_post in user_posts %}
              <div class="panel-body item">
                <div style="margin-left:10px;"><a href="/topic/{{ user_post.id }}">{{ user_post.title }}</a></div>
              </div>
            {% endfor %}
          {% else %}
            <div class="panel-body">None</div>
          {% endif %}
          {% if user_posts|length >= 5 %}<div class="sm-panel-heading panel-title item"><a href="#" class="view-all">view all</a></div>{% endif %}
        </div>
        <div class="panel panel-default">
          <div class="sm-panel-heading panel-title item">recent replies</div>
          {% if user_replies %}
            {% for user_reply in user_replies %}
            <div class="panel-body item">
              <div style="margin-left:10px;"><a href="/topic/{{ user_reply.topic_id }}">{{ user_reply.comment | safe }}</a></div>
            </div>
            {% endfor %}
          {% else %}
          <div class="panel-body">None</div>
          {% endif %}
          {% if user_replies|length > 5 %}
          <div class="sm-panel-heading panel-title">
            <a href="#" class="view-all">view all</a>{% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
{% endblock %}
