{% extends "layout.html" %}
{% from "snipple/macro.html" import navigation with context%}

{% block subtitle %}Topic{% endblock %}

{% block nav %}
{{ navigation('other') }}
{% endblock %}

{% block content %}
<div class="panel panel-default">
<div class="lg-panel-heading panel-heading">
  <a href="#" class="topic-avatar"><img class="avatar" src="{{ topic.avatar }}" height="40px" width="40px"></a>
  <div class="panel-title">
    <h6 style="margin-left: 6px;">{{ topic.title }}</h6>
    <a href="#" class="topic-username">{{ topic.username }}</a> ·
    {{ time_delta(topic.post_time) }} ·
    {{ click_count }} clicks ·
    {% if saved %}
      <a href="/unsave/{{ topic.id }}">unsave</a>
    {% else %}
      <a href="/save/{{ topic.id }}">save</a>
    {% endif %}
 </div>
</div>
<div class="panel-body topic-body">{{ topic.body_md | safe }}</div>
</div>

{% include "snipple/comment.html" %}

{% endblock %}

{% block sidebar %}
<div class="column-title">nodes</div>
<div class="node-types">
  {% for node in nodes %}
    <a class="node" href="{{ url_for('nodes.topic_node', node_name=node) }}">{{ node }}</a>
  {% endfor %}
</div>
{% endblock %}
