{% extends "layout.html" %}

{% block subtitle %}Nodes{% endblock %}

{% block content %}
<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.submit(class="btn btn-primary", style="float: right", value="submit") }}
  <div style="overflow: hidden; padding-right: .5em;">
    {{ form.node(class="form-control", type="text", style="width: 100%", placeholder="input node name") }}
  </div>
</form>
{% for node in nodes %}
  {{ node.node }}
{% endfor %}

{% endblock %}
{% block sidebar %}
{% include "snipple/sidebar.html" %}
{% endblock %}
