<div class="container">
  <div class="sep10"></div>
  <a herf="/about" class="links">about</a> &nbsp; <span class="slash">/</span> &nbsp;
  <a herf="/api" class="links">api</a> &nbsp; <span class="slash">/</span> &nbsp;
  <a herf="/blog" class="links">blog</a> &nbsp; <span class="slash">/</span> &nbsp;
  <a href="http://flask.pocoo.org/" class="links">powered by Flask</a> &nbsp; <span class="slash">/</span> &nbsp;
  <a href="https://github.com/gaotongfei/bubble" class="links">view source</a>
  <div class="sep10"></div>
</div>
